*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(241, 241, 241, 1) 0%,
    rgba(180, 217, 216, 1) 100%
  );
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #fff;
  background-color: rgba(151, 151, 151, 0.75);
}

.calculator-grid > button:nth-child(5) {
  background-color: rgb(226, 136, 136);
}

.calculator-grid > button:nth-child(9) {
  background-color: rgb(226, 136, 136);
}

.calculator-grid > button:nth-child(13) {
  background-color: rgb(226, 136, 136);
}

.calculator-grid > button:nth-child(17) {
  background-color: rgb(226, 136, 136);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.calculator-grid > button:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .operand {
  color: #fff;
  font-size: 2.5rem;
}

.flex-end {
  justify-content: flex-end !important;
}

.heading {
  padding: 20px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  padding: 80px;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
}

.home-des {
  font-size: 20px;
  padding: 20px;
  width: 50%;
  text-align: center;
}
